/*menu*/
#menu1{
	 padding-left: 5%;
}
#menu2{
	display: flex;
	justify-content: space-between;
	padding-left: 10%;
}
#carrousel{
	margin-top: 5%;
}
#menu_filtros{
	
    background-color: beige;
    padding-top: 2%;
    padding-bottom: 2%;
}